In [1]:
import pandas as pd

### Задача №1
Пример создания df

In [2]:
d = {'type':['A', 'A', 'B', 'B'], 'value':[10, 14, 12, 23]}
my_data = pd.DataFrame(d)
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

### Задача №2
- В переменную с именем subset_1 сохраните только первые 10 строк и только 1 и 3 колонку.
- В переменную с именем subset_2 сохраните все строки кроме 1 и 5 и только 2 и 4 колонку.

In [37]:
my_stat = pd.read_csv('my_stat.csv')

In [36]:
subset_1=my_stat.iloc[:10, [0, 2]]
subset_2=my_stat.iloc[:, [1, 3]].drop([0, 4])

### Задача №3
- В переменную subset_1 сохраните только те наблюдения, у которых значения переменной V1  строго больше 0, и значение переменной V3  равняется 'A'.

- В переменную  subset_2  сохраните только те наблюдения, у которых значения переменной V2  не равняются 10, или значения переменной V4 больше или равно 1.

In [41]:
subset_1 = my_stat[(my_stat.V1 > 0) & (my_stat.V3 == 'A')]
subset_2 = my_stat[(my_stat.V2 != 10) | (my_stat.V4 >= 1)]

### Задача №4
- V5 = V1 + V4

- V6 = натуральный логарифм переменной V2

In [43]:
import numpy as np

In [45]:
my_stat['V5'] = my_stat.V1 + my_stat.V4
my_stat['V6'] = np.log(my_stat.V2)

### Задача №5
- V1 -> session_value

- V2 -> group

- V3 -> time

- V4 -> n_users

In [46]:
my_stat = my_stat.rename(columns={'V1':'session_value',
                                 'V2':'group',
                                 'V3':'time',
                                 'V4':'n_users'})

### Задача №6
- В переменной session_value замените все пропущенные значения на нули.

- В переменной n_users замените все отрицательные значения на медианное значение переменной n_users (без учета отрицательных значений, разумеется).

In [59]:
my_stat.session_value = my_stat.session_value.fillna(0)
med = my_stat[my_stat.n_users >= 0].n_users.median()
my_stat.loc[my_stat['n_users'] < 0,'n_users'] = med

### Задача №7
В этой задаче для данных my_stat рассчитайте среднее значение переменной session_value для каждой группы (переменная group), в получившемся dataframe  переменная group не должна превратиться в индекс. Также переименуйте колонку со средним значением session_value в mean_session_value.

In [64]:
mean_session_value_data = pd.DataFrame(my_stat.groupby('group', as_index=False).session_value.agg('mean'))\
        .rename(columns={'session_value':'mean_session_value'})

In [65]:
# Проще:
mean_session_value_data = pd.DataFrame(my_stat.groupby('group', as_index=False)\
                                       .session_value.agg({'mean_session_value':'mean'}))