# Циклы. Строки. Списки

## Цикл while

In [6]:
a = 7
while a > 5:
    print(a, end=' ')
    a -= 1

7 6

## Операторы break, continue

In [8]:
i = 0
while i < 5:
    a = int(input())
    if a == 0:
        break
    if a == 1:
        continue
    i = i + 1

1
1
1
1
1
1
1
1
0

## Цикл for

In [10]:
for i in 2, 3, 5:
    print(i, end=' ')

2 3 5

In [11]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [14]:
for i in range(2, 13, 4):
    print(i, end=' ')

2 6 10

In [17]:
a, b = (int(i) for i in input().split())
print(a, b)

1 2
1 2

## Строки и символы

In [26]:
genome = 'ATGC'
# slicing
print(genome[0], end=' ')
print(genome[-1], end=' ')
print(genome[-4], end=' ')
print(genome[1:], end=' ')
print(genome[:3], end=' ')
print(genome[::2], end=' ')
print(genome[::-1])

A C A TGC ATG AG CGTA

In [29]:
for c in genome:
    print(c, end=' ')

A T G C

In [30]:
print(genome.count('C'))

1

### Некоторые методы строк

In [37]:
print(genome.lower()) #upper()
# find - первое вхождение или -1
print(genome.find('C'))
# replace - заменяет все вхождения
print(genome.replace('C', 'D'))
# сама строка остается неизменной

atgc
3
ATGD

In [38]:
genome = input()+' '
s = 0
n=genome[0]
for i in genome:       
    if n!=i:
        print(n + str(s), end = '')
        s=0
        n=i
    s+=1

aaaaabbbccdd
a5b3c2d2

## Списки

In [17]:
students = ['Ivan', 'Masha', 'Rita']
for st in students:
    print(st)

Ivan
Masha
Rita

In [18]:
len(students)

3

In [19]:
students[0:1]

['Ivan']

In [20]:
students + ['Gosha']

['Ivan', 'Masha', 'Rita', 'Gosha']

In [21]:
students * 4

['Ivan',
 'Masha',
 'Rita',
 'Ivan',
 'Masha',
 'Rita',
 'Ivan',
 'Masha',
 'Rita',
 'Ivan',
 'Masha',
 'Rita']

In [22]:
# Списки являются изменяемыми
students[1] = 'Rita'

In [23]:
students.append('Nick')

In [24]:
students

['Ivan', 'Rita', 'Rita', 'Nick']

In [25]:
students.insert(0, 'Pavel')
students

['Pavel', 'Ivan', 'Rita', 'Rita', 'Nick']

In [26]:
students.remove('Rita') # удаляет первое вхождение
students

['Pavel', 'Ivan', 'Rita', 'Nick']

In [27]:
if 'Rita' in students:
    print('Yes')

Yes

In [29]:
ind = students.index('Rita')
ind

2

In [30]:
sorted(students) # изначальный список не меняется

['Ivan', 'Nick', 'Pavel', 'Rita']

In [34]:
students.sort()
students

['Ivan', 'Nick', 'Pavel', 'Rita']

In [36]:
min(students)

'Ivan'

In [39]:
students.reverse() # reversed()
students

['Rita', 'Pavel', 'Nick', 'Ivan']

In [42]:
a = [1, 2, 3]
b = a
print(a, end=' ')
print(b)
a[0] = 'A'
print(a)
print(b)
b[1] = 'B'
print(a)
print(b)
c = [] + b
c[2] = 'C'
print(a)
print(b)
print(c)

[1, 2, 3] [1, 2, 3]
['A', 2, 3]
['A', 2, 3]
['A', 'B', 3]
['A', 'B', 3]
['A', 'B', 3]
['A', 'B', 3]
['A', 'B', 'C']

In [43]:
a = [[1 ,2 ,3], [4, 5, 6]]
a[1][1]

5

In [45]:
a = [[0] * 5] * 5 
a

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [47]:
a[0][0] = 5
a

[[5, 0, 0, 0, 0],
 [5, 0, 0, 0, 0],
 [5, 0, 0, 0, 0],
 [5, 0, 0, 0, 0],
 [5, 0, 0, 0, 0]]

In [49]:
b = [[0] * 5 for i in range(5)]
b

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [50]:
b[0][0] = 5
b

[[5, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

## Задачи