In [1]:
import pandas as pd
import numpy as np

In [4]:
students_performance = pd.read_csv('StudentsPerformance.csv')

In [5]:
students_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [10]:
mean_writing_score = students_performance['writing score'].mean()

In [12]:
students_performance.loc[students_performance['writing score'] > mean_writing_score].head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78

In [13]:
students_performance.loc[students_performance.gender == 'female', ['gender', 'writing score']].head()

   gender  writing score
0  female             74
1  female             88
2  female             93
5  female             78
6  female             92

In [16]:
query = (students_performance['writing score'] > mean_writing_score) & (students_performance.gender == 'female')

In [18]:
students_performance.loc[query].head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92

## Вопрос
У какой доли студентов из датасэта в колонке lunch указано free/reduced?

In [20]:
sum(students_performance.lunch == 'free/reduced') / students_performance.shape[0]

0.355

## Вопрос
Как различается среднее и дисперсия оценок по предметам у групп студентов со стандартным или урезанным ланчем?

In [21]:
set(students_performance.lunch)

{'free/reduced', 'standard'}

In [27]:
standard = students_performance.loc[students_performance.lunch == 'standard']
print('mean', standard.mean(), 'var', standard.var(), sep='\n')

mean
math score       70.034109
reading score    71.654264
writing score    70.823256
dtype: float64
var
math score       186.418089
reading score    191.285560
writing score    205.620887
dtype: float64

In [28]:
not_standard = students_performance.loc[students_performance.lunch != 'standard']
print('mean', not_standard.mean(), 'var', not_standard.var(), sep='\n')

mean
math score       58.921127
reading score    64.653521
writing score    63.022535
dtype: float64
var
math score       229.824270
reading score    221.871139
writing score    238.202881
dtype: float64

In [31]:
students_performance = students_performance.rename(
                        columns=
                            {'parental level of education':'parental_level_of_education',
                            'test preparation course' : 'test_preparation_course',
                            'math score' : 'math_score',
                            'reading score' : 'reading_score',
                            'writing score' : 'writing_score'})
students_performance.head()

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75